<% content_for :head do %>
	<%= image_tag('header-image.jpg', id: 'content-header-img', alt: 'Check out our courses') %>
<% end %>


<article id="details-article" class="col-sm-12">
        <h1 id="article-title">Nuestros Cursos</h1>
</article>

<section id="products">
	<% @products.each do |product| %>
		<div class="product clearfix">
		 <a href="<%=product_path(product) %>">
		  <div class="product-image-container">
		   <img src="<%= asset_path product.thumbnail_image_name %>" alt="<%= product.title %>"/>
		   
		 </div>
		 <p class="product-title"><%= product.title %></p></a>
		</div>
	<% end %>
</section>

<% if user_signed_in? %>
          # do something
     <% else %>

<aside id="details-aside" class="col-sm-5">
	<ul id="details-infobox" class="list-group">
              <li class="list-group-item active clearfix">Usurios con Ganas de Aprender</li>
              <li class="list-group-item"><%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %></li>
              <li class="list-group-item clearfix">
              <span class="pull-left"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %></span>
              </li>
  </ul>
</aside>

<% end %>